body {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    padding: 40px 0 0 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.a{
    border: 10px solid #000000;
    border-radius: 10px 10px 0 0;
    background-color: #000000;
}
.a:hover{
    border: 10px solid #5c5959;
    background-color: #5c5959;
}

.hero {
    background: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

.hero h2 {
    margin: 0;
    font-size: 2em;
}

.hero p {
    margin: 20px 0;
    font-size: 1.2em;
}

.btn {
    background: #333;
    color: #fff;
    padding: 13px 23px;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover{
    border: 1px solid #5c5959;
    background-color: #5c5959;
}

section {
    padding: 50px 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.product {
    text-align: center;
    margin: 20px 0;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
